streamlit==1.59.2
numpy==2.2.6
pandas==2.3.3
matplotlib==3.10.9
scipy==1.15.3
scikit-image==0.25.2
joblib==1.5.3
threadpoolctl==3.6.0
tifffile==2025.5.10
imageio==2.37.3
Pillow==11.3.0
plotly==6.9.0
openpyxl==3.1.5
xlsxwriter==3.2.9
# Optional acceleration for local Conda installs:
# numba>=0.59
#streamlit-drawable-canvas-fix==0.9.8
streamlit-drawable-canvas==0.9.3
